---
import Image0 from "../assets/images/0.jpg"
import Image1 from "../assets/images/1.jpg"
import Image2 from "../assets/images/2.jpg"
import Image3 from "../assets/images/3.jpg"
import Image4 from "../assets/images/4.jpg"
import Image5 from "../assets/images/5.jpg"
import Image6 from "../assets/images/6.jpg"
import Image7 from "../assets/images/7.jpg"
import Image8 from "../assets/images/8.jpg"
import Image9 from "../assets/images/9.jpg"

---




<div class="grid sm:grid-cols-2 gap-4">
 
    <div class="group cursor-pointer relative">
        <img src={Image0.src} width={700} height={Image0.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            
            <a href="https://drive.usercontent.google.com/download?id=1SzqK1vRA6DcDie37x4dlrWTnBi8PdKNK&export=download&authuser=0&confirm=t&uuid=32ce19f6-ecaf-4e9b-9cdd-a17dcf8f0d83&at=APZUnTXI9ZjVgCeAUZdzvoMhaf6f:1697113255604" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image1.src} width={Image1.width} height={Image1.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1wcTeU8mv840Mi931aTSZFBkEECBWzxjz&export=download&authuser=0&confirm=t&uuid=162a6a41-873a-4bd5-9278-dbd6f6f74578&at=APZUnTW3UYyynik_yN8-Q1s_SoXM:1697113795386" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image2.src} width={Image2.width} height={Image2.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1kcFnIc-NzQaMizl5zibg_CTdD1I_7obA&export=download&authuser=0&confirm=t&uuid=bf6e36fe-6586-4f92-af8b-4c446186469d&at=APZUnTX_z4NRO9pDbQl0KFc3Kmwh:1697113880702" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image3.src} width={Image3.width} height={Image3.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=16hBwcwqX7Y7dBmkH7mXWuQeGyUFs8Rlf&export=download&authuser=0&confirm=t&uuid=a075a372-f8f1-4547-b327-64a6df3ef67b&at=APZUnTUPkJT88VpBWqiDBnvhUY7S:1697113925045" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image4.src} width={Image4.width} height={Image4.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1IhAcD8VV-TXbu5JvvAeMlWcyhUb08nI3&export=download&authuser=0&confirm=t&uuid=8c55b809-68ce-4a5c-b774-6751a2250222&at=APZUnTVCMNxktouTiepvsq-ALg8f:1697113967025" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image5.src} width={Image5.width} height={Image5.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1bTLeRR5iGQ2haG-fHbhaLPKDB18cbQWp&export=download&authuser=0&confirm=t&uuid=0c8d7b5a-2afa-41f0-b70e-03c35893bf41&at=APZUnTUuGqD1ll_2DkcQ23fMKRz6:1697114001362" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image6.src} width={Image6.width} height={Image6.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1zTQPJV0fX-45-a-UVeoq-U9wbAhixxMI&export=download&authuser=0&confirm=t&uuid=2462e405-d094-49a9-a409-0cf3d42d9989&at=APZUnTWZL9tq2GpFUMSe73t97uoZ:1697114032202" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image7.src} width={Image7.width} height={Image7.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1XmoUDp4hDconVGKPuKHBLO4ryJH7Oivk&export=download&authuser=0&confirm=t&uuid=e94b2fd3-3792-4e82-8c4b-427f3deeb8f3&at=APZUnTWTWCAWbPvCMdHcSGVOaN0d:1697114058385" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>
  
    <div class="group cursor-pointer relative">
        <img src={Image8.src} width={Image8.width} height={Image8.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1bSbxhieKQUMDYapEgPwQ6qA32DkQkzQ_&export=download&authuser=0&confirm=t&uuid=47f5a1e3-4857-4e15-833a-f92557ab7a66&at=APZUnTUYNQlu3ILmQ5EvVIOewZzm:1697114105717" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

    <div class="group cursor-pointer relative">
        <img src={Image9.src} width={Image9.width} height={Image9.height} alt="A barking dog." class="h-auto max-w-full  object-cover rounded-lg transition-transform transform scale-100 group-hover:scale-105" />
        <div class="mt-3">
            <a href="https://drive.usercontent.google.com/download?id=1_puAGHrVC32L-Qw6vSfrCJEfu86J-Uvg&export=download&authuser=0&confirm=t&uuid=405beb23-af78-4f22-8b9f-1a57f3f243c4&at=APZUnTVvZya_afwweZ95NJMSA8KR:1697114113888" class="justify-center items-center text-indigo-700 border border-indigo-600 py-3 px-6 rounded inline-flex w-full">
                Download
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    viewBox="0 0 24 24" class="w-6 h-6 ml-2">
                    <path d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                </svg>
            </a>
        </div>
    </div>

  </div>
  